* body {
    margin: 0;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family:Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
#left_side{
    width:65%;
}
#right_side{
    background-color: #0088cc;
    color:white;
    height: 100%;
    position: sticky;
    top: 0rem;
    align-self: flex-start; 
}
#right_side p{
    color: white;
}
#right_side h3{
    color: white;
}
#right_side h4{
    color: white;
}

i{
    font-size: 250%;
    color: whitesmoke;
    margin-right: 0.5rem; 
}
li i {
    font-size: 150%;
    color: white;
    margin-right: 0.1rem;
}
p i {
    font-size: 100%;
    color: black;
}
#profile_pic{
    display: block;
    margin: auto;
    width: 10rem;
    border: 0.5rem solid #cccccc;
    border-radius: 50%;
}
#profile_box{
    padding-top: 1rem;
}
#skills_box{
    padding: 1rem;     
}
.center_text{
    text-align: center;
}
ul {
    list-style-type: none;
    margin-right: 2rem;
}
li {
    display: inline;
}
#left_side p, h3, h4 {
    color: gray;
}
span{
    float:right;
    margin-left:1rem;
}
a {
    color: gray;
}
#phoneNumber{
    color:white;
}
@media only screen and (max-width:1114px){
    #wrapper{
        flex-wrap: wrap-reverse;
    }
    #right_side{
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    #profile_pic{
        display: none;
    }
}

@media only screen and (min-width:1114px){
    #right_side{
        min-height: 100vh;
    }
}